body{
    background-color:white;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    color: black;
    cursor: url("../images/图标.ico"),auto;
    background: url("../images/bg.jpg") no-repeat ;
}
audio{
    display: none;
}

#contentToWrite{
    font-size: large;
    color: rebeccapurple;
    padding: 300px;
    cursor: url("../images/图标.ico"),auto;
}

#myContent{
    color: maroon;
    font-size: 200%;
    font-family: "Verdana";

}

#myContent:hover{
    color: orange;
}


a:hover{
    color: orange;
}

a:link{
    color: maroon;
}

a:visited{
    color: maroon;
}
a:active{
    color: maroon;
}
a{
  text-decoration: none;
}
