body{
    background-color:white;
    margin-left: 20%;
    margin-right: 20%;
    border: 10px dotted gray;
    padding: 10px 10px 10px 10px;
    font-size: large;
    color: black;
}

#auto{
    font-size: large;
    color: black;
}

#contentToWrite{
    font-size: large;
    color: rebeccapurple;
    padding: 300px;
}
#hhh{
    color: deepskyblue;
}


